@model IEnumerable<Course>
@{
    ViewData["Title"] = "Index";
}

<div style="padding-left:200px" class="container my-5">

     <h1>Course</h1>
    <a asp-action="Create" style="border:1px solid green;margin-bottom:20px;;margin-top:20px;margin-left:850px;text-decoration-color:white;" class="btn btn-outline-success">Create</a>
    <table class="table">
        <thead>
            <tr>    
                <th scope="col">Image</th>
                <th scope="col">CourseName</th>
                <th scope="col">Status</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
           
            <tr> 
                @foreach (var course in Model)
                {

                <tr>

                    <td> <img style="width:100px" src="~/images/@course.CourseImages.FirstOrDefault()?.Image"> </td>
                    <td>@course.Name</td>
                    <td>
                            @if (course.SoftDelete == true)
                            {
                            <div class="deActive-status"></div>
                            }
                            else
                            {
                            <div class="active-status"></div>
                            }
                    </td>
                    <td><a asp-action="Detail" asp-route-id="@course.Id" style="border:1px solid blue" class="btn btn-outline-info">Info</a>
                        <a asp-action="Edit" asp-route-id="@course.Id" style="border:1px solid green" class="btn btn-outline-primary">Edit</a>
                        <form class="d-inline-block" asp-action="Delete" asp-route-id="@course.Id" method="post">
                            <button type="submit" style="border:1px solid red" class="btn btn-outline-danger">Delete</button>
                        </form>
                    </td>

                </tr>

                }
            
           
           
        </tbody>
    </table>


</div>



