
@{
    ViewData["Title"] = "Create";
}


<div style="padding-left:200px" class="container my-5">
    <h1>Create</h1>
    <form class="forms-sample">
        <label for="exampleFormControlInput1">Add Slider Image</label>
        <input class="form-control" type="file" id="customFile">
        <label for="exampleFormControlInput1">Add Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
        <label for="exampleFormControlInput1">Add Description</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description">
        <div class="my-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <a type="button" asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </form>
</div>

