
@{
    ViewData["Title"] = "Create Event";
}


<div style="padding-left:200px" class="container my-5">
    <h1>Create Event</h1>
    <a asp-action="Index" style="border:1px solid red;margin-bottom:20px;margin-top:20px;margin-left:700px;text-decoration-color:white;" class="btn btn-outline-danger">Go to Events</a> <a asp-action="Create" style="border:1px solid green;margin-bottom:20px;;margin-top:20px;margin-left:10px;text-decoration-color:white;" class="btn btn-outline-success">Create</a>
    <form class="forms-sample">
        <label for="exampleFormControlInput1">Add Event Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Event Title">   
        <label for="exampleFormControlInput1">Add Event Description</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Event Description">
        <label for="exampleFormControlInput1">Add Event Date</label>
        <input type="date" value="2022-02-02" />

        <div class="my-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <a type="button" asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </form>
</div>